
# Coverage-clover build
build/**

# IDE
.idea

#Composer
vendor
composer.lock
composer.phar

#phpDocs will remove from ignore once I am done with tests
docs
phpdocs
tests
phpdoc.dist.xml
phpunit.integration.xml
phpunit.xml
README
README.md
#release.sh
CHANGELOG

